:root {
  --background-color: rgb(34, 33, 33);
  --text-color: rgb(243, 236, 236);
  --primary-color: #3f97b9;
  --secondary-color: #5fcc77;
  --error-color: #e03d3d;
  --info-color: #eeea1e;
}

.magenta {
  background-color: rgb(165, 3, 165);
}

.green {
  background-color: rgb(1, 90, 1);
}